<edv-responsive-table style="width: 100%;">
  
  <edv-header-row>
    <edv-cell>#</edv-cell>
    <edv-cell>Name</edv-cell>
    <edv-cell>Email</edv-cell>
    <edv-cell>Age</edv-cell>
    <edv-cell>Phone</edv-cell>
  </edv-header-row>
  <edv-row>
    <edv-cell>1</edv-cell>
    <edv-cell>Edgar Valfogo</edv-cell>
    <edv-cell>edgarvalfogo@outlook.com</edv-cell>
    <edv-cell>99</edv-cell>
    <edv-cell>55 11 99999-9999</edv-cell>
  </edv-row>
  <edv-row>
    <edv-cell>2</edv-cell>
    <edv-cell>Pedro de Alcântara Francisco Antônio</edv-cell>
    <edv-cell>pedrodealcantara@gmail.com</edv-cell>
    <edv-cell>23</edv-cell>
    <edv-cell>11 1234-1234</edv-cell>
  </edv-row>
  <edv-row>
    <edv-cell>3</edv-cell>
    <edv-cell>Isabel Cristina Leopoldina</edv-cell>
    <edv-cell>isabelcristina@hotmail.com</edv-cell>
    <edv-cell>42</edv-cell>
    <edv-cell>11 1234-1234</edv-cell>
  </edv-row>
</edv-responsive-table>

<edv-responsive-table style="width: 100%;">
  
    <edv-header-row>
      <edv-cell>#</edv-cell>
      <edv-cell>Name</edv-cell>
      <edv-cell>Email</edv-cell>
      <edv-cell>Age</edv-cell>
      <edv-cell>Phone</edv-cell>
    </edv-header-row>
  
    <edv-row *ngFor="let item of ['Josias', 'Paulanderson', 'Deusicleide']; let i = index">
      <edv-cell>{{ i+1 }}</edv-cell>
      <edv-cell label='Name'>{{ item }}</edv-cell>
      <edv-cell label='Email'>edgarvalfogo@outlook.com</edv-cell>
      <edv-cell label='Age'>99</edv-cell>
      <edv-cell label='Phone'>55 11 99999-9999</edv-cell>
    </edv-row>
  </edv-responsive-table>